<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="./css/internal_main.css">
    <script src="./js/jQuery.js"></script>
</head>
<script src="./js/FRZ.js"></script>
 
<nav class="headermenu">
    <li><a href="/user-profile">Profile</a></li>
    <li><a href="/friend-list">Friend-list </a></li>
    <li><a href="/find-friends">Find-Friend </a></li>
    <li><a href="/active-users">Admin-panel </a></li>
    <li><a href="/user-logout">Logout</a></li>
</nav>

<script> 
const Frz = new FRZ();
</script> 