<%-include("layouts/header")%>
    <header>
        <nav>
            <a href="/"> Home </a>
            <a href="user-register"> Register </a>
            <a href="user-login"> Login </a> 
        </nav>
    </header>

<%-include("layouts/footer")%>