<%-include("layouts/header")%>
<link rel="stylesheet" href="./css/matchinginfo.css">

<br>
<br>
<br>
<main style="width: 100%; height:80vh" class="user_matching_informatin">

    <ul class="tabs">
    
        <li class="tab find_friends active-tab" onclick="openTab(event, 'find_friends')">Find Friends </li>
        <li class="tab request_friends" onclick="openTab(event, 'request_friends')">Pending Friends </li>
    </ul>



<div id="find_friends" class="tab-content active">
    <b> Find your friend </b>    <br><br> 
    <div class="container" id="add_matching_data">
        <p> Select your Matching information:</p>
        
        
        <div class="matching_block">
            <label> <input class="matchingInformation" id="language" type="checkbox" name="language" value="1"> <b>Language</b>  </label>
            <label> <input class="matchingInformation" id="interest" type="checkbox" name="interest" value="1"> <b>Interest</b>  </label>
            <label> <input class="matchingInformation" id="hobbies" type="checkbox" name="hobbies" value="1"> <b>Hobbies</b>  </label>
            <label> <input class="matchingInformation" id="hobbies" type="checkbox" name="hobbies" value="1"> <b>Same ages people</b>  </label>
            
        </div>
        
        <div class="matching_block">
            <label> <input class="matchingInformation" id="same_location" type="radio" name="location" value="1"> <b> Same location </b>  </label>
            <label> <input class="matchingInformation" id="different_location" type="radio" name="location" value="2"> <b> Different location </b>  </label>
            
        </div>
        
        <div class="matching_block">
            <label> <input class="matchingInformation" id="same_gender" type="radio" name="gender" value="1"> <b> Same Gender </b>  </label>
            <label> <input class="matchingInformation" id="different_gender" type="radio" name="gender" value="2"> <b> Different Gender </b>  </label>
        
        </div>
        
        <div class="matching_block">
            <label> <input class="matchingInformation" id="same_department" type="radio" name="department" value="1"> <b> Same Department </b>  </label>
            <label> <input class="matchingInformation" id="different_department" type="radio" name="department" value="2"> <b> Different Department </b>  </label>
                
        </div>
        
        <div class="matching_block">
            <label> <input class="matchingInformation" id="same_profession" type="radio"name="profession" value="1"> <b> Same Profession </b>  </label>
            <label> <input class="matchingInformation" id="different_profession" type="radio" name="profession" value="2"> <b> Different Profession </b>  </label>
        
        </div>
        
        
        
        <button  class="save_button" type="button" id="button_profile_matching_information"> Save and Find </button>
        
        </div>
        
        
        <div class="container list_matching_profile" id="list_matching_profile">
        
            <table>
                <thead>
                <tr>
                    <th>Sl</th>
                    <th>First name</th>
                    <th>Last name </th>
                    <th>Gender</th>
                    <th>Department</th>
                    <th>Language</th>
                    <th>Photo</th> 
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>Md. Firoz</td>
                    <td>Rahman</td>
                    <td>Male</td>
                    <td>Non-scientific</td>
                    <td>ENglish,Deutsch</td>
                    <td>
                        <img src="/user_documents/userphoto/userphoto_1698953609210.jpeg" class="image_cls"/>
                    </td>
                    <td>
                        <button class=" match_action_button send_friend_request">Send Request</button>
                        <button class=" match_action_button block_friend_request">Block </button>
                    </td>
                </tr>
                
                <tr>
                    <td>1</td>
                    <td>ABC </td>
                    <td>TEST </td>
                    <td>Female</td>
                    <td>Scientific</td>
                    <td>Deutsch</td>
                    <td>
                        <img src="/user_documents/userphoto/userphoto_1699742769477.png" class="image_cls"/>
                    </td>
                    <td>
                        <button class=" match_action_button send_friend_request">Send Request</button>
                        <button class=" match_action_button block_friend_request">Block </button>
                    </td>
                </tr>
                </tbody>
            </table>
            
        </div>

</div>


<div id="request_friends" class="tab-content">
    <b> Pending friend  request</b>    <br><br> 
        <div class="container list_matching_profile" id="list_matching_profile">
        
            <table>
                <thead>
                <tr>
                    <th>Sl</th>
                    <th>First name</th>
                    <th>Last name </th>
                    <th>Gender</th>
                    <th>Department</th>
                    <th>Language</th>
                    <th>Photo</th> 
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>Md. Firoz</td>
                    <td>Rahman</td>
                    <td>Male</td>
                    <td>Non-scientific</td>
                    <td>ENglish,Deutsch</td>
                    <td>
                        <img src="/user_documents/userphoto/userphoto_1698953609210.jpeg" class="image_cls"/>
                    </td>
                    <td>
                        <button class=" match_action_button send_friend_request">Accept Request</button>
                        <button class=" match_action_button cancel_friend_request">Cancel Request</button>
                        <button class=" match_action_button block_friend_request">Block </button>
                    </td>
                </tr> 

                  
                </tbody>
            </table>
            
        </div>

</div>






</main>
<script>
function openTab(evt, tabName) 
{ 
  Frz.profileTabAction(evt, tabName);
}
</script>

<%-include("layouts/footer")%>