<%-include("layouts /header")%>
    <header>
        <nav>
            <a href="user-profile"> Register </a>
            <a href="user-logout"> Login </a>
        </nav>
    </header>

        <main>

            <h1>Hello welcome FAU connect APP profile page</h1>

        </main>


    <%-include("layouts/footer")%>